.body{
  font-family: monospace;
  background-color: rgb(22, 124, 92)
}


.headingDiv{
  text-align: center;
  display: block;
  font-size: 40px;
  background-color: rgba(119,229,6,0.8);
  height: 45px;
  width: 100%;
  margin: auto;
}


.linkDiv{
  display: inline-block;
  width: 20%;
  height: 60px;
  margin: 1%;
  background-color: rgba(244, 66, 140,0.9);
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
  border-radius: 200px;
  border-width: medium;
  border-style: solid;
}

.frontDiv{
  background-color: rgba(244, 66, 140,0.9);
}

.backDiv{
  background-color: rgba(100,200,250,0.9);
}

.hackDiv{
  background-color: rgba(60,240,70,0.9);
}

.sectionContainer{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-size: 100%;
  background-position: center bottom;
}

.frontCont{
  background-image: url("sunset.jpg");
  background-color: rgba(185,250,100,0.8);
}

.backCont{
  background-color: rgba(100,90,220,0.8);
  background-image: url("matrix.jpg");
  height: 300px;
}

.hackCont{
  background-color:(rgba(200,40,100,0.8);
  /*background-image: url("");*/
}

.hack{
 background-color: rgba(100,70,200,0.9); 
}

.front{
    background-color: rgba(250,100,170,0.9);
}

.back{
  background-color: rgba(100,200,250,0.9);
  display: block;
}

.subHeading{
  display: block;
  font-size: 25px;
  width: 100%;
  text-align: center;
  height: 30px;
}

.footer{
text-align: center;
width: 100%;
background-color: rgba(20,120,70,0.9);
font-size: 15px;
padding-top: 10px;
color: white;
}

a.bottomLink{
  color: white;
}

